.premium {

    height: 520px;
    width: 380px;
    border-radius: 10px;


}

.payment-logo img {
    height: 50px;
    width: 80px;
}


@media only screen and (max-width: 576px) {

    .premium {

        height: 520px;
        width: 300px;



    }

}