.cource {
    height: 320px;
    width: 280px;
    background-color: #aaeaff;
    color: black;
}

.cource:hover {
    background-color: rgb(68, 255, 233);
}





.cource:hover>.icon-section {
    color: rgb(68, 255, 233);
}