.register {
    height: 600px;
    width: 420px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.register-page {
    background-image: url('../../images/login.webp');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}


@media only screen and (max-width: 576px) {

    .register {
        height: 600px;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
    }

}