.App {
    color: white;
    /* background-color: rgb(10, 6, 71); */
    background-image: url('../src/images/bg2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}