.service-section {
    background-color: rgba(0, 0, 0, 0.5);
}

.section-img {
    border: 5px solid blue;
    border-radius: 0px 120px 0px 0px;
}

.section-img img {
    top: 50px;
    left: -50px;
}

@media only screen and (max-width: 600px) {
    .section-img img {
        top: 0px;
        left: 0px;
    }
}